rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{accountid}/todos/{todoid} {
      allow read, write: if accountid == request.auth.uid
    }
  }
}